// FILE (create it): src/quasar-variables.sass

$primary: #000000;
$secondary: #F3A536;
$dark: #151515;
$grey: #B4B4B4;
$milk: #FFF8EF;
$green: #15B38A;
$red: #FC1E32;
$purple: #374BFF;
$grey-2: #F5F5F5;
$grey-3: #E9E9E9;
$yellow: #FFD7AE;
